@{
    ViewData["Title"] = "Agregar Candidato";
}
<div class="formulario">
<form method="post" action='@Url.Action("GuardarCandidato")'>
  <input type="hidden" id="IdPartido" name="IdPartido" value=" @ViewBag.IdPartido"><br>

  <input type="text" id="Apellido" name="Apellido" placeholder="Apellido" required><br>

  <input type="text" id="Nombre" name="Nombre" placeholder="Nombre" required><br>

  <input type="date" id="FechaNacimiento" name="FechaNacimiento" placeholder="Fecha de nacimiento" required><br>

  <input type="text" id="Foto" name="Foto" placeholder="Foto" required><br>

  <input type="text" id="Postulacion" name="Postulacion" placeholder="Postulacion" required><br>

  <input type="submit" value="Enviar">
</form>
</div>