
@{
    ViewData["Title"] = "Creditos";
}
<div class="colaboradoresBody">

</div>
<div class="colaboradores">
<div class="colaborador">
    <h1>Dante Siegel</h1>
    <img class="imgCol" src="/Imagenes/FotoUsuario.png" alt="">
    <p>Contribuidor en el Controller</p> 
</div>
<div class="colaborador">
    <h1>Tomas Degese</h1>
    <img class="imgCol" src="/Imagenes/FotoUsuario.png" alt="">
    <p>Contribuidor en el View</p> 
</div>
<div class="colaborador">
    <h1>Raian Kim</h1>
    <img class="imgCol" src="/Imagenes/FotoUsuario.png" alt="">
    <p>Contribuidor en el Model,View,Controller y css</p> 
</div>
</div>