@{
    ViewData["Title"] = "Home Page";
}


   <div class="indexBody">
   <div class="Patidos-A">
   @foreach (Partido item in ViewBag.Partidos)
   {
    <div class="Partidos-B">
        <p>@item.Nombre</p>
        <img id = "img1" src="/Imagenes/@item.Logo" alt="imagen-@item.Nombre"><br>
        <button><a href='@Url.Action("VerDetallePartido", new {idPartido = item.IdPartido})'>Click aca para saber mas sobre el partido</a></button>
    </div>
   }
   </div>
</div>   
   

