@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Elecciones</h1>
</div>
   @foreach (Partido item in ViewBag.Partidos)
   {
        <p>@item.Nombre</p>
        <a href="@item.SitioWeb">Pagina de @item.Nombre</a>
        <img src="/Imagenes/@item.Logo" alt="imagen-@item.Nombre">
        <a href='@Url.Action("VerDetallePartido", new {idPartido = item.IdPartido})'>Click aca para saber mas sobre el partido</a>
   }

