@{
    ViewData["Title"] = "Eleccion Presidencial";
}
<div class="quevotar">
<h3>Las elecciones presidenciales son un tipo de elección en el cual los ciudadanos de un país eligen al presidente o jefe de estado que gobernará al país durante un período determinado. En este tipo de elecciones, los ciudadanos habilitados para votar eligen entre varios candidatos que compiten por el cargo de presidente.</h3>
<h1>¿Que son las PASO?</h1>
<h3>Las PASO, o Primarias Abiertas, Simultáneas y Obligatorias, son elecciones que se celebran en Argentina para definir los candidatos que participarán en las elecciones generales a presidente, gobernador, diputados y senadores nacionales, entre otros cargos. En las PASO, todos los partidos políticos presentan sus listas de precandidatos, y los ciudadanos habilitados para votar eligen cuál de ellas será la que represente al partido en las elecciones generales. Es decir, las PASO funcionan como una especie de "elección interna" dentro de los partidos.</h3>
</div>